<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<title>Continuous View</title>
		<link href="main.css" rel="stylesheet" />
	</head>
	<body>

		<div class="navigation">
			<p class="pagenum">
				Page 351
			</p>
		</div>
		<h1>Blank MathML Template</h1>
		<p>
			Here is a sample math equation:
		</p>
		<p>

			<img src="imgs/eq1.svg" />
			<span id="spk1" class="speak">
				f left paren x right paren equals x Super 2 Base 
			</span>
			
		</p>
	</body>
</html>