<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
		<meta charset="utf-8"></meta>
		<title>Page 351</title>
		<link href="main.css" rel="stylesheet"></link>
	</head>
	<body>

		<div class="navigation">
			<p class="pagenum">Page 351</p>
			<a class="pagelink" href="../Start%20Here.html">Previous Page</a>
		</div>
		<h1>Blank MathML Template</h1>
		<p>
			Here is a sample math equation:
		</p>
		<p>

			<img src="imgs/eq1.svg" />
			<span id="spk1" class="speak">
				f left paren x right paren equals x Super 2 Base 
			</span>
			
		</p>
	</body>
</html>
		<div class="navigation">
			<p class="pagenum">Page 351</p>
			<a class="pagelink" href="../Start%20Here.html">Previous Page</a>
		</div>
	</body>
</html>